
table{
  width: 80%;
  margin-top: 0 !important;
  margin: 40px auto;
  background: rgb(124,154,167);
}

table.list{
  text-align: center;
  width: 100%;
}

td{
  border: 1px solid rgb(204,200,200);
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(), table.list thread> tr{
  background-color: rgb(204,200,200);
}

input[type="text"],input[type="number"]{
  width:91%;
  padding:12px 20px;
  margin:8px 0;
  display: inline-block;
  border: 1px solid rgb(165,161,161);
  border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
  background: #eee;
  padding:6px 12px;
  margin:15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  background: #4b99d8;
}

input[type="reset"]:hover{
  background: #4b99d8;
}

button{
  background: #eee;
  padding:6px 12px;
  margin:15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover{
  background:#4b99d8 ;
}

.d-none{
display: none !important
}
.error{
  color: red;
}
.searchInput{
  width: 50%;
  margin: auto;
}
@media(max-width: 700px){
  .text-box h1 {
      font-size: 20px;
  }

  .nav-links ul li {
      display: block;
  }

  .nav-links {
      position: fixed;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }

  nav .fa-solid {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }

  .nav-links ul {
      padding: 30px;
  }

}