.data{display: none;}


table{
    
    width: 80%;
    margin: 5px auto;
    background: rgb(124,154,167);
  }
  
  table.list{
    text-align: center;
    width: 100%;
  }

  th{
    border: 1px solid rgb(254, 249, 249);
    text-align: left;
    padding: 8px 15px;
  }
  
  tr:child(), table.list thread> tr{
    background-color: rgb(204,200,200);
  }
  
  div.course {
    height: 12px;
    width: 15px;
    margin: 3px;
    background-color: #ffffff ;
  }
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(124, 154, 167, 0.167);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;

  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
  }
  
  button:hover{
    background:#4b99d8 ;
  }
  
  .d-none{
  display: none !important
  }
  .error{
    color: red;
  }
  .selected {
    background-color: #12ce83 !important;
  }
  .noSlot {background-color: #757d7a !important;}
  div#find{
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  @media(max-width: 700px){
    div.table{overflow-y: auto;}
}