*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/Banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; 
}
nav img {
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.buttonLogin{
    padding: 6px 24px;
    border: 3px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}
.buttonLogin:active{
    transform: scale(0.98);
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa-solid{
    display: none;
}
.blur-bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
}
.show-popup .blur-bg-overlay{
    opacity: 1;
    pointer-events: auto;
}
.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%,-100%);

}
.show-popup .form-popup{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%);
    transition: transform 0.3s ease, opacity 0.1s;
}
.form-popup .close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}
.form-popup .form-box{
    display: flex; 
}
.form-box .form-details{
   max-width: 330px; 
   width: 100%;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}
.form-box .form-content{
    width: 100%;
    padding: 35px;
 
}
form .input-field{
    height: 50px;
    width: 100%;
    margin-top:20px ;
    position: relative;
}
form .input-field input{
    height: 100%;
    width: 92%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}
form .input-field input:focus {
    border-color: #00bcd4;
}
form .input-field input:is(:focus, :valid){
    padding: 16px 15px 0;
}
form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
}
.input-field input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translateY(-120%);
    color: #00bcd4;
}
.form-box a{
    color: #00bcd4;
    text-decoration: none;
}
.form-box a:hover{
    text-decoration: underline;
}
.form-box .forgot-pass{
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background-color: #00bcd4;
    transition: 0.2s ease;
}
form button:hover{
    background: #0097a7;
}
.form-box .bottom-link {
    text-align: center;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

}

/*----- course -----*/ 
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fad1d0;;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col:hover{
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*----- campus -----*/ 
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*----- facilities -----*/ 
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*sign in*/ 
@media(max-width: 700px){
    
.form-popup{
    width: 95%;
    z-index: 99;
}
.form-popup .close-btn{
    position: relative;
    top: 12px;
    right: -328px;
    color: #878484;
    cursor: pointer;
}

.close-btn .material-symbols-rounded{
    cursor: pointer;
}
.form-box .form-details{
    display: none;
}
.form-box .form-content{
    padding: 30px 20px;
    z-index: 88;
}
}

/*----- call to action ----*/
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width:700px) {
    .cta h1{
        font-size: 24px;
    }
}

/*--footer-*/
.footer{
    width: 100%;
    text-align: center;
    pad: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/* go to top */
#go {
    display: block;
    padding: 1rem;
    right: 10px;
    bottom: 10px;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0.35em 0.35em 0 0 rgba(15, 28, 63, 0.125);
    border: 1px solid #edf2f9;
}

#go i {
    color: #6f2232;
}

